## Task 1:  List Manipulations

Write the following functions in Python.

1. `flatten(a)`: Write a function that flattens a list.

In [1]:
def flatten(a):
    if a == []:
        return a
    if isinstance(a[0], list):
        return flatten(a[0]) + flatten(a[1:])
    return a[:1] + flatten(a[1:])

2. `identical(a, b)`: Write a python program to check whether two lists are circularly identical.

In [2]:
def identical(a, b):
    return (' '.join(map(str, b)) in ' '.join(map(str, a*2)))

3. `chunks(list, size)`: Split list to chunks with this function taking the list and the size for the chunks required.

In [3]:
def chunks(l, size):
    for i in range(0, len(l), size):
        yield l[i:i + size]

## Task 2: Tuple Manipulations

Write the following functions in Python.

1. `sortbyfloat(a)`: Write a Python function to sort a list by the tuples' second, float element.

In [4]:
def sortbyfloat(a):
    return sorted(a, key=lambda x: float(x[1]), reverse=True)

2. `addbyelement(t1, t2)`: Write a function that adds two tuples by elements.

In [5]:
def addbyelement(t1, t2):
    return tuple(map(sum, zip(t1, t2)))

## Task 3: Dictionary Manipulations

Write the following functions in Python.

1. `applyfunondict(a, myfun)`: Write a function that applies a function on the values of a dictionary.

In [6]:
def myfun(a):
    return a**2

def applyfunondict(a, myfun):
  for k, v in a.items():
    if isinstance(v, dict):
      a[k] = applyfunondict(v, myfun)
    else:
      a[k] = myfun(v)
  return d

2. `comparedicts(dict1, dict2)`: Write a function that compares two dictionaries by both their keys and values and return a boolean (without using `cmp()` or `==`).

In [7]:
def comparedicts(dict1, dict2):
    sharedItems = len(set(dict1.items()) & set(dict2.items()))
    if sharedItems == len(dict2) and sharedItems == len(dict1):
        return True
    return False

3. `differences(dict1, dict2)`: Write a function that displays the differences between two dictionaries by returning a set of tuples.

In [8]:
def differences(dict1, dict2):
    return set(dict1.items()) ^ set(dict2.items())

## Task 4: Organising a Concert

Suppose you are putting together a concert and need to figure out how much to charge for a ticket. Your total expenses are £8000 (band and venue). The venue can seat at most 2000 people and you have determined through market research that the number of tickets you are likely to sell is related to the ticket’s selling price by the following relationship:

<br /><center><h3>sales = 2500 - 80 * prices</h3></center><br />

According to this relationship, if you give away tickets for free, you will overfill the venue. On the other hand, if you charge too much, you won’t be able to sell tickets at all. Your total income from the ticket sales will be `sales * price` and your profit will be this amount minus your expenses which are £8000.

<br />

Write a program to determine the most profitable ticket price, by creating a function that prints a table for each possible ticket price from £0 up to the maxPrice parameter that is given to this function as an argument. Name your function as `profitTable(maxPrice)`.

In [9]:
def profitTable(maxPrice):
    print ('Price\tIncome\tProfit')
    print ('-----\t------\t------')
    for price in range(1, maxPrice):
        sales = 2500 - 80 * price
        print ("sales @", price, ":", sales)
        if sales > 2000:
            sales = 2000
        income = sales * price
        profit = income - 8000
        print ("income @", int(price), ":", int(income))
        print ("profit @", int(price), ":", int(profit))
    profitTable2(maxPrice)
        
def profitTable2(maxPrice):
    print ('Price\tIncome\tProfit')
    print ('-----\t------\t------')
    for price in range(1, maxPrice):
        sales = 2500 - 80 * price
        if sales > 2000:
            sales = 2000
        income = sales * price
        profit = income - 8000
        print('£', price, '\t', income, '\t', profit)

profitTable(30)

def profitList(maxPrice):
    prices = []
    profits = []
    for price in range(1, maxPrice):
        sales = 2500 - 80 * price
        if sales > 2000:
            sales = 2000
        income = sales * price
        profit = income - 8000
        prices.append(price)
        profits.append(profit)
        print ("*"*20)
    return (prices, profits)

import matplotlib.pyplot as plt
prices, profits = profitList(30)
plt.plot(prices, profits)
plt.ylabel('profit')
plt.xlabel('price')
plt.show()

Price	Income	Profit
-----	------	------
sales @ 1 : 2420
income @ 1 : 2000
profit @ 1 : -6000
sales @ 2 : 2340
income @ 2 : 4000
profit @ 2 : -4000
sales @ 3 : 2260
income @ 3 : 6000
profit @ 3 : -2000
sales @ 4 : 2180
income @ 4 : 8000
profit @ 4 : 0
sales @ 5 : 2100
income @ 5 : 10000
profit @ 5 : 2000
sales @ 6 : 2020
income @ 6 : 12000
profit @ 6 : 4000
sales @ 7 : 1940
income @ 7 : 13580
profit @ 7 : 5580
sales @ 8 : 1860
income @ 8 : 14880
profit @ 8 : 6880
sales @ 9 : 1780
income @ 9 : 16020
profit @ 9 : 8020
sales @ 10 : 1700
income @ 10 : 17000
profit @ 10 : 9000
sales @ 11 : 1620
income @ 11 : 17820
profit @ 11 : 9820
sales @ 12 : 1540
income @ 12 : 18480
profit @ 12 : 10480
sales @ 13 : 1460
income @ 13 : 18980
profit @ 13 : 10980
sales @ 14 : 1380
income @ 14 : 19320
profit @ 14 : 11320
sales @ 15 : 1300
income @ 15 : 19500
profit @ 15 : 11500
sales @ 16 : 1220
income @ 16 : 19520
profit @ 16 : 11520
sales @ 17 : 1140
income @ 17 : 19380
profit @ 17 : 11380
sales @ 18 : 1060
income @ 18 : 19080
profit @ 18 : 11080
sales @ 19 : 980
income @ 19 : 18620
profit @ 19 : 10620
sales @ 20 : 900
income @ 20 : 18000
profit @ 20 : 10000
sales @ 21 : 820
income @ 21 : 17220
profit @ 21 : 9220
sales @ 22 : 740
income @ 22 : 16280
profit @ 22 : 8280
sales @ 23 : 660
income @ 23 : 15180
profit @ 23 : 7180
sales @ 24 : 580
income @ 24 : 13920
profit @ 24 : 5920
sales @ 25 : 500
income @ 25 : 12500
profit @ 25 : 4500
sales @ 26 : 420
income @ 26 : 10920
profit @ 26 : 2920
sales @ 27 : 340
income @ 27 : 9180
profit @ 27 : 1180
sales @ 28 : 260
income @ 28 : 7280
profit @ 28 : -720
sales @ 29 : 180
income @ 29 : 5220
profit @ 29 : -2780
Price	Income	Profit
-----	------	------
£ 1 	 2000 	 -6000
£ 2 	 4000 	 -4000
£ 3 	 6000 	 -2000
£ 4 	 8000 	 0
£ 5 	 10000 	 2000
£ 6 	 12000 	 4000
£ 7 	 13580 	 5580
£ 8 	 14880 	 6880
£ 9 	 16020 	 8020
£ 10 	 17000 	 9000
£ 11 	 17820 	 9820
£ 12 	 18480 	 10480
£ 13 	 18980 	 10980
£ 14 	 19320 	 11320
£ 15 	 19500 	 11500
£ 16 	 19520 	 11520
£ 17 	 19380 	 11380
£ 18 	 19080 	 11080
£ 19 	 18620 	 10620
£ 20 	 18000 	 10000
£ 21 	 17220 	 9220
£ 22 	 16280 	 8280
£ 23 	 15180 	 7180
£ 24 	 13920 	 5920
£ 25 	 12500 	 4500
£ 26 	 10920 	 2920
£ 27 	 9180 	 1180
£ 28 	 7280 	 -720
£ 29 	 5220 	 -2780
********************
********************
********************
********************
********************
********************
********************
********************
********************
********************
********************
********************
********************
********************
********************
********************
********************
********************
********************
********************
********************
********************
********************
********************
********************
********************
********************
********************
********************